* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
}

.container {
  padding: 0.75rem;
}

.mlat, .mlat table, .mlat thead, .mlat th {
  border: none;
}


.mlat,
.mlat table {
  position: relative;
  width: 100%;
  border: none;
  border-left: 2px dotted rgba(128, 128, 128, 0.5);
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0;
  overflow: hidden;
}
.mlat {
  width: calc(100% - 1rem);
  margin: 0 0.5rem;
}

.mlat,
.mlat table,
.mlat td,
.mlat th {
  border-spacing: 0;
  border-collapse: separate;
}

.mlat th {
  padding: 0.4rem 0.6rem;
  border-right: 1px solid white;
  background-color: #212529;
  color: white;
  text-align: left;
}

.mlat th:last-child {
  border: none;
}

.mlat .details-row {
  transition: background-color 250ms ease-in-out;
}

/*stripe gray color on even rows*/
.mlat .details-row:nth-child(odd) {
  background-color: transparent;
}

.mlat .details-row:nth-child(even) {
  background-color: rgba(200, 200, 200, 0.25);
}

.mlat td {
  padding: 0.4rem 0.6rem;
}

.mlat td[colspan="100%"] {
  padding-right: 0;
}

.mlat .table-within > td:first-child {
  position: relative;
  padding-left: 2rem;
}

.mlat .table-within.expand-btn > td:first-child::before {
  content: attr(data-expand-icon);
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5px;
  left: 0;
  transform: translateX(15%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellowgreen;
}

.mlat .legend {
  position: relative;
}

.mlat .legend span {
  padding: 0 1rem 0 0.5rem;
  font-weight: bold;
}

.mlat .legend::after {
  content: "";
  width: 100%;
  position: absolute;
  border-bottom: 1px dashed gray;
  top: 50%;
}

/*Highlight row on hover*/
.mlat .table-within.expand-btn {
  transition: background-color 250ms ease-in-out;
}
.mlat .table-within.expand-btn:hover {
  background-color: rgb(200, 200, 200);
}
.mlat .details-row td {
  transition: background-color 250ms ease-in-out;
}
.mlat .details-row:hover td:not([rowspan]) {
  background-color: rgb(200, 200, 200);
}

/*Add level indicator on table*/
.mlat .table-within.expand-btn {
  position: relative;
}
.mlat .table-within.expand-btn[data-expanded="true"]::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 2rem;
  border-radius: 15px;
  border-bottom: 2px dotted rgba(128, 128, 128, 0.75);
  left: 0;
  top: 2rem;
}

/*Show pointer cursor on expandable rows*/
.mlat .table-within.expand-btn,
.mlat .more-rows.table-row {
  cursor: pointer;
}

/*Show caret down icon on expandable more rows*/
.mlat .table-row.more-rows tr:first-child td:first-child:before {
  content: attr(data-expand-icon);
}

/*Table expanding style*/
.mlat .table-containing-row {
  display: none;
}
.mlat .table-containing-row[data-expanded="true"] {
  display: table-row;
}

/*More rows expanding*/
.mlat .more-rows > .details-row + .details-row.more {
  display: none;
}
.mlat .more-rows[data-expanded="true"] > .details-row + .details-row.more {
  display: table-row;
}
.mlat .more-rows tr:first-child td:first-child span {
  display: inline-block;
  transform: rotateZ(0);
  transition: transform 250ms;
}
.mlat .more-rows[data-expanded="true"] tr:first-child td:first-child span {
  transform: rotateZ(180deg);
}

.mlat .table-within:nth-child(4n-5) td {
  background-color: rgba(200, 200, 200, 0.25);
}

.mlat .table-row tr:first-child td {
  border-top: 1px dotted rgba(128, 128, 128, 0.5);
}

.mlat td[data-number-status="up"] {
  color: green;
}
.mlat td[data-number-status="down"] {
  color: red;
}

.mlat td[data-number-status="up"]::before {
  display: inline-block;
  padding-right: 0.5rem;
  content: "\21E1";
  font-weight: bold;
}
.mlat td[data-number-status="down"]::before {
  display: inline-block;
  padding-right: 0.5rem;
  content: "\21E3";
  font-weight: bold;
}

/*Add border to separate rows*/
.mlat .details-row.more:nth-child(odd) td:not([rowspan]) {
  border-top: 1px dashed gray;
}

/*Highlight expanded row*/
.mlat .table-within.expand-btn {
  transition: 250ms ease-in-out;
}
.mlat .table-within.expand-btn[data-expanded="true"] td {
  background-color: midnightblue;
  color: white;
  font-weight: bold;
}